body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.8;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

/* homeに戻るボタンの装飾 */
.home-button-container {
  text-align: center; /* ボタンを中央に配置 */
  margin-bottom: 20px; /* 下に少しスペースを空ける */
}

.home-button {
  display: inline-block; /* ボタンのサイズをコンテンツに合わせる */
  padding: 10px 20px; /* 内側の余白 */
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* 文字色 */
  background-color: #115606; /* 背景色 */
  border: none; /* デフォルトの枠線を消す */
  border-radius: 5px; /* 角を少し丸くする */
  cursor: pointer; /* マウスカーソルをポインターにする */
  transition: background-color 0.3s ease; /* マウスオーバー時のアニメーション */
}

.home-button:hover {
  background-color: #15983c; /* マウスオーバー時の背景色 */
}

h1,
h2,
h3 {
  color: #2c3e50;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 40px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "•";
  color: #3498db;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

strong {
  color: #e74c3c;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #15983c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
